
html, body {
  height: 100%;
  width: 100%;
  overflow: auto;

}

body {
   /* Override to allow touch device scrolling. */
   -webkit-overflow-scrolling: touch;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.btn:hover, .btn:focus {
   background-position: 0 -10px;
}

a:hover {
   text-decoration: none;
}



/* landscape width */
@media only screen and (max-width: 1024px) 
{
    

}  




