html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;

}

// Colors
$bg: #d6f0d3;
$text: #2e2e2e;
$card: #e9e9e9;
$accent: #e28743;
$btn-hover: #878787;
$yellow: #efe81b;

/* spacing */
$standard-spacing: 15px;
$small-spacing: 5px;


.r3f {
    touch-action: none;
    z-index: 0;
}



/* .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

nav {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#top-nav {
    border-bottom: 1px solid #2e2e2e;
    backdrop-filter: blur(10px);
    height: 32px;
    transition: height 0.1s ease;
    button {
        cursor: pointer;
        height: 32px;
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        border: none;
        background: none;
        transition: color 0.1s ease;
    }
    button:hover {
        color: $btn-hover;
        background-color: rgba(237, 237, 237, 0.2);
    }
    article {
        display: none;
        text-align: center;
        margin-top: 70px;
        h1 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
}



#bottom-nav {
    padding: 0 $standard-spacing;
    bottom: $standard-spacing;
    justify-content: end;
}



h1, h2, h3, p, button, a {
    font-family: "Inter", sans-serif;
    color: $text;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
}

h2 {
    font-size: large;
    font-weight: 500;
    font-size: 20px;
}

h3 {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

p {
    font-size: medium;
    font-weight: 300;
    font-size: 8px;
}

a {
    font-size: 12px;
}

a:hover {
    color: $btn-hover;
}

button {
    font-weight: 600;
    border: 1px solid #2e2e2e;
    
}


.card {
    width: 480px;
    height: 400px;
    padding: $standard-spacing;
    box-sizing: border-box;

    .card-hover-container {

    }

    /* Link area */
    aside {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $yellow;
        box-sizing: border-box;
        padding: $small-spacing;
    }

    /* Content row */
    article {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-top: $standard-spacing;
        h3 {
            margin-top: $small-spacing;
        }
        img {
            max-width: 250px;
            width: 100%;
            height: auto;
            user-drag: none;
            -webkit-user-drag: none; /* For WebKit browsers like Chrome and Safari */
            -moz-user-drag: none;    /* For Firefox */
            -ms-user-drag: none;     /* For Internet Explorer */
        }
        video {
            max-width: 250px;
        }
        p {
            padding-right: $standard-spacing;
        }
    }
}


#intro-container {
    width: 100%;
    height: 100%;
    background-color: rgba(206, 206, 206, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 1.5s ease;
    article {
        padding: $standard-spacing;
        box-sizing: border-box;
        max-width: 300px;
        max-height: 300px;
        border-radius: 30px;
        background-color: #787878;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $card;
            
        }
        aside {
            border-radius: 100px;
            background-color: #2e2e2e;
            transition: background-color 0.1s ease;
            width: 125px;
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;

            #grab-icon {
                display: none;
            }
        }
        aside:hover {
            background-color: $card;
        }

    }
}


