html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/* hjghjkkhj */


.r3f {
    touch-action: none;
}

.contact {
    background-color: rgb(46, 53, 59);
}

nav {
    position: absolute;
    padding: 0 20px;
    bottom: 20px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: end;
}

nav button {

}


